body{
    margin:0px;
    overflow: hidden;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* .jetbrains-mono-thin {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  } */

#light{
    height:100svh;
    display: flex;
}

#night{
    background-color: black;
    width:100svw;
}

#day{
    background-color: white;

}

.daynight{
    height:100%;
    -webkit-transition:1000ms linear;
	-moz-transition:1000ms linear;
	-o-transition:1000ms linear;
	-ms-transition:1000ms linear;
	transition:1000ms linear;
}

#info{
    color: white;
    z-index: 100;
    position: absolute;
}

.small{
    font-size:0.75rem;
}

#loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}



